/*custom fonts*/
@font-face {font-family: "FrutiHard";
    src: url("../fonts/four.TTF");
}
@font-face {font-family: "FrutiLight";
    src: url("../fonts/one.TTF");
}
@font-face {font-family: "FrutiBold";
    src: url("../fonts/two.TTF");
}

@font-face{
    font-family:"FrutigerNextW01-LightCn";
    src:url("../fonts/eae5445d-d2ec-4742-bd7f-f007516b0477.eot?#iefix");
    src:url("../fonts/eae5445d-d2ec-4742-bd7f-f007516b0477.eot?#iefix") format("eot"),
    url("../fonts/e9beef83-a4c3-4f1c-a1d1-45da483ea062.woff2") format("woff2"),
    url("../fonts/463e66e2-e4eb-4ee6-8aef-fb9e18b7b025.woff") format("woff"),
    url("../fonts/b85ce570-937c-45a8-9ab6-7574bf1374ed.ttf") format("truetype"),
    url("../fonts/a369207c-7e56-40ac-a9f0-a984070f0643.svg#a369207c-7e56-40ac-a9f0-a984070f0643") format("svg");
}
@font-face{
    font-family:"FrutigerNextW01-Condens";
    src:url("../fonts/3aabd8f8-de16-4c1d-94fa-1d85cdeca8b5.eot?#iefix");
    src:url("../fonts/3aabd8f8-de16-4c1d-94fa-1d85cdeca8b5.eot?#iefix") format("eot"),
    url("../fonts/33de3f05-9ad2-4aa8-8305-953d212ed871.woff2") format("woff2"),
    url("../fonts/f5206e18-da88-476d-a17e-ac9c580f00c1.woff") format("woff"),
    url("../fonts/084bc02f-68ac-47c0-8102-0b1b53e8d4ac.ttf") format("truetype"),
    url("../fonts/eba3b54b-79f9-4236-b2dd-5acf555f20f1.svg#eba3b54b-79f9-4236-b2dd-5acf555f20f1") format("svg");
}
@font-face{
    font-family:"FrutigerNextW01-BoldCn";
    src:url("../fonts/497c3588-4b93-4f85-bcbc-52af2bdf03df.eot?#iefix");
    src:url("../fonts/497c3588-4b93-4f85-bcbc-52af2bdf03df.eot?#iefix") format("eot"),
    url("../fonts/46195450-8eef-4511-ac19-062ed9a6f1a0.woff2") format("woff2"),
    url("../fonts/78cb2356-22e7-4eae-bbb7-f947f2384d4b.woff") format("woff"),
    url("../fonts/ac1fbae2-c358-43bd-8789-791cd09a114d.ttf") format("truetype"),
    url("../fonts/0000e0ba-ee2d-4a44-b4cf-63512287a48c.svg#0000e0ba-ee2d-4a44-b4cf-63512287a48c") format("svg");
}
@font-face{
    font-family:"FrutigerNextW01-HeavyCn";
    src:url("../fonts/4904ecc3-8863-4be1-858d-c446f0c33578.eot?#iefix");
    src:url("../fonts/4904ecc3-8863-4be1-858d-c446f0c33578.eot?#iefix") format("eot"),
    url("../fonts/8c275dca-1114-488a-828d-b32b69ad2a80.woff2") format("woff2"),
    url("../fonts/a573c5c9-139c-40e2-91eb-3e5bc04a320a.woff") format("woff"),
    url("../fonts/0219c932-c8a6-47b2-a642-5fa400fda973.ttf") format("truetype"),
    url("../fonts/5338c78d-52a2-44c6-a583-03f06e786ae1.svg#5338c78d-52a2-44c6-a583-03f06e786ae1") format("svg");
}


body{
    width: 100%;
    margin: 0;
    padding: 0;

}

p{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
}





/*latest section style*/

.latest_news{
    margin: 0px;
    background: black;
    color: #ffe500;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 6px;
    font-family: FrutigerNextW01-BoldCn;
}

.latest_news span{
    color: white;
}


/*header section */
.header_section{
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: FrutigerNextW01-LightCn;
}


.logo{
    position: absolute;
    top: 65px;
}

.nikon_menu ul{
    list-style: none;
    margin-top: 10px;
    color: #777777;
    font-size: 15px;
    font-family: FrutigerNextW01-LightCn;

}

.nikon_menu ul li{
    display: inline;
    padding: 5px;

}

.nikon_menu img{
    vertical-align: bottom;
}

.nikon_menu .social img{
    max-width: 30px;
    vertical-align: middle;
}

#social_section{
    margin-left: 115px;
    margin-top: 0px;
}

#social_section li{
    padding: 0px;
}

/*end of header section*/




/*slider section*/

.slider_section{
    position: relative;
}
.slider img {
    width: 100%;
    position: relative;
}

.slider_text{
    text-transform: uppercase;
    position: absolute;
    bottom: 55px;
    left: 50px;
}

.slider_text h1, h2, h3, h4{
    margin: 0;
    padding: 0;
    color: white;
}

.slider_text h1{
    font-family: FrutigerNextW01-HeavyCn;
}


.slider_text span{
    color: #ffe500;
    font-family: FrutigerNextW01-LightCn;

}

.slider_text h3{
    text-transform: none;
    font-weight: normal;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    font-size: 20px;
    font-family: FrutigerNextW01-LightCn;

}

.slider_text img {
    /*background: #ffe500;*/
    /*border: none;*/
    /*text-align: center;*/
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    margin-top: 10px;
    /*padding: 10px 20px;*/
    /*font-family: FrutigerNextW01-BoldCn;*/
}

/*menubar*/
.menuvar{
    width: 70%;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-family: FrutigerNextW01-BoldCn;
}

.navbar-inverse{
    background: #f0eeeb;
    border: none;
    border-radius: 0;
}

.navbar-inverse .navbar-brand{
    background: black;
    color: white;
    font-family: FrutigerNextW01-BoldCn;
}

.navbar-inverse .navbar-brand:hover {
    color: #fff;
    background: black;
}

.menu_item ul{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY( -50%);
}

.menu_item ul li{
    display: inline-block;
    margin-right: 16px;
}

.menu_item ul li a{
    padding: 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.menu_item ul li a:hover{

    background: yellow;
}




.feature_section{
    padding-top: 25px;
    padding-bottom: 15px;

}

.feature_section img{
    width: 100%;
    height: 375px;
}

.zero_height{
    height: 0;
}

/*detaile section
*/
.detail_section1, .detail_section2{
    padding-top: 15px;
    padding-bottom: 15px;
}

.detail_section1 img, .detail_section2 img{
    width: 100%;
}

/*footer section*/

.footer_section{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #999999;
}

.footer_section div{
    margin-top: 5px;
}

.footer_menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_menu ul li{
    display: inline;
    padding: 10px;
}

.footer_menu ul li span{
    padding: 3px;
}

/*common css*/
.light_font{
    font-family: FrutigerNextW01-LightCn;
}

.bold_font{
    font-family: FrutigerNextW01-BoldCn;
}

.yellow_tag{
    background: #ffe500;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 15px;
    font-family: FrutigerNextW01-BoldCn;
}

.black_tag{
    background: black;
    color: #ffe500;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 15px;
    font-family: FrutigerNextW01-BoldCn;
}

.relative_image{
    position: relative;
}

.top_tag{
    position: absolute;
    top: 0;
}

.black_bg{
    width: 100%;
    height: 100%;
    background: black;
}

.button_place{
    position: relative;
    background: #ffe100;
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.button_place_w{
    position: relative;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.button_place:hover{
    background: white;
    cursor: pointer;
}

.button_place img{
    position: absolute;
    max-width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.button_place_w img{
    position: absolute;
    max-width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



/*.button_place img:hover{*/
    /*display: none;*/
    /*!*background: url('../assets/round_btn_w.png');*!*/

/*}*/


.btn_position{
    position: absolute;
    right: 30px;
    bottom: 35px;
}

.feature_text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 60%;

}

.feature_text > .black_tag{
    width: 50%;
}
.fet_details{
    padding-top: 10px;
    color: white;
    font-size: 26px;
    font-weight: normal;
    line-height: 30px;
    font-family: FrutigerNextW01-LightCn;
}

.yellow_text{
    color: #ffe500;
}

.white_text{
    color: white;
}

.black_text{
    color: black;
}

/*promotion*/
.promotion_text{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.promotion_text h1{
    font-size: 70px;
    margin: 0;
    padding: 0;
}

.promotion_text h3{
    font-weight: normal;
    font-size: 30px;
}

.promot_btn{
    position: absolute;
    bottom: 24px;
    left: 40px;
    cursor: pointer;
}

.promot_btn button {
    background: #ffe500;
    border: none;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    font-family: FrutigerNextW01-BoldCn;
}

/*instragram news*/

.instragram_news{
    position: relative;
}

.instragram_section{
    background: #f0f0f0;
    width: 100%;
    height: 31px;
    margin: 0;
    padding: 5px;
}

.instragram_section p{
    padding: 8px;
    font-size: 16px;
}

.instragram_section img{
    max-width: 20px;
    display: inline;
    float: right;


}

.instragram_section div{
    display: inline;
}

.instra_footer{
    width: 100%;
    background: #f0f0f0;
    margin: 0;
    padding-top: 12px;
    padding-left: 20px;
    height: 43px;
}

.instra_btn{
    position: absolute;
    bottom: 24px;
    right: 40px;
    cursor: pointer;
}

.instra_btn button{
    background: #ffe500;
    border: none;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    font-family: FrutigerNextW01-BoldCn;
}

/*events*/

.readMore_btn{
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}

.readMore_btn button{
    background: #888888;
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
}

.event_text{
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
}

.event_time span{
    padding: 5px;
}

.event_time img{
    max-width: 20px;
    vertical-align: middle;
}

.event_place{
    margin-top: 5px;
}

.event_place span{
    padding: 5px;
}

.event_place img{
    max-width: 20px;
    vertical-align: middle;
}

.event_text h3{
    font-size: 26px;
}

.footer_section{
    font-family: FrutigerNextW01-LightCn;
}

hr{
    margin: 0;
}



/*media query*/
@media (max-width: 320px){


    .fet_details {
        color: white;
        font-size: 24px;
        font-weight: normal;
    }

    .feature_text {
        position: absolute;
        bottom: 35px;
        left: 15px;
        width: 61%;
        font-size: 12px;
    }
    hr{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .readMore_btn {
        position: absolute;
        top: 20px;
        right: 0;
        cursor: pointer;
    }

    .feature_section > img {
        width: 100%;
        height: 375px;
    }

    /*.event_text h3{*/
        /*font-size: 17px;*/
    /*}*/
}
@media (min-width: 320px) and (max-width: 768px) {

    .feature_section > img {
        width: 100%;
        height: 375px;
    }

    .readMore_btn {
        position: absolute;
        top: 20px;
        right: 0px;
        cursor: pointer;
    }

    .button_place{
        position: relative;
        background: #ffe100;
        width: 45px;
        height: 45px;
        border-radius: 50%;

    }

    .button_place_w{
        position: relative;
        background: white;
        width: 45px;
        height: 45px;
        border-radius: 50%;

    }

    .button_place:hover{
        background: white;
        cursor: pointer;
    }

    .button_place img{
        position: absolute;
        max-width: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .button_place_w img{
        position: absolute;
        max-width: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }



    /*.button_place img:hover{*/
    /*display: none;*/
    /*!*background: url('../assets/round_btn_w.png');*!*/

    /*}*/


    .btn_position{
        position: absolute;
        right: 30px;
        bottom: 35px;
    }

    .feature_text > .black_tag {
        width: 75%;
    }

    .footer_section{
        text-align: center;
    }

    .navbar{
        min-height: 120px;
        margin-bottom: 0px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-top: 70px;
        border-color: #e7e7e7;
    }

    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 35px;
        margin-right: 15px;
        margin-bottom: 8px;
        background: black;
        /* background-color: transparent; */
        /* background-image: none; */
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #0c0c0c;
    }

    .slider_section{
        background: gray;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: url("../assets/slider_image.png");
        background-size: cover;
        background-position: 50% 0%;
    }

    .slider_text{
        position: static;
        margin-bottom: 40px;
    }

    .feature_section, .detail_section1, .detail_section2{
    margin: 0;
    padding: 0;
    }

    .col-md-6, .col-md-4{
        padding: 0;
    }

    .instragram_section {
        background: #f0f0f0;
        width: 100%;
        height: 48px;
        margin: 0;
        padding: 15px;
    }

    .event_text h3 {
        font-size: 26px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    hr{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


@media (min-width: 768px) and (max-width: 992px) {

    .feature_text > .black_tag {
        width: 72%;
    }

    .button_place{
        position: relative;
        background: #ffe100;
        width: 50px;
        height: 50px;
        border-radius: 50%;

    }

    .button_place_w{
        position: relative;
        background: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;

    }

    .button_place:hover{
        background: white;
        cursor: pointer;
    }

    .button_place img{
        position: absolute;
        max-width: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .button_place_w img{
        position: absolute;
        max-width: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }



    /*.button_place img:hover{*/
    /*display: none;*/
    /*!*background: url('../assets/round_btn_w.png');*!*/

    /*}*/


    .btn_position{
        position: absolute;
        right: 30px;
        bottom: 35px;
    }

    .padding_top{
        margin-top: 10px;
    }

    .footer_section{
        text-align: center;
    }

    .navbar{
        min-height: 120px;
    }

    .navbar-nav {
        float: right;
        margin: 0px;
        margin-top: 35px;
    }

    .slider_section{
        background: gray;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: url("../assets/slider_image.png");
        background-size: cover;
        background-position: 50% 0%;
    }

    .slider_text{
        position: static;
        margin-bottom: 40px;
    }

    .div_margin{
        margin-top: 30px;
    }

}
@media (min-width: 992px) and (max-width: 1200px) {

    .feature_text > .black_tag {
        width: 60%;
    }
    /*.wrapper{*/
        /*max-width: 960px;*/
        /*margin: 0 auto;*/
    /*}*/
    /*.container{*/
        /*width: 100%;*/
    /*}*/
    .small_font{
        font-size: 22px;
    }

    .menu_item ul{
        list-style: none;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translateY( -50%);
    }

    .menu_item ul li {
        display: inline-block;
        margin-right: 0px;
        margin-left: 0px;
        font-size: 11px;
    }

    .event_text h3{
        font-size: 26px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    #social_section {
        margin-left: 90px;
        margin-top: 0px;
    }

    .nikon_menu ul {
        list-style: none;
        margin-top: 10px;
        color: #777777;
        font-size: 14px;
        font-family: FrutiBold;
    }
}
@media (min-width: 1200px) and (max-width: 1600px){

    .event_text h3 {
        font-size: 30px;
        padding: 7px 0px;
        /* margin-bottom: 0px; */
    }

    .event_time{
        margin-top: 15px;
    }

    .instragram_section {
        background: #f0f0f0;
        width: 100%;
        height: 48px;
        margin: 0;
        padding: 15px;
    }

    .menu_item ul{
        list-style: none;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translateY( -50%);
    }

    .menu_item ul li {
        display: inline-block;
        margin-right: 0px;
        margin-left: 1em;
        font-size: 12px;
    }

}

@media (min-width: 1600px) and (max-width: 1920px){

    .event_text h3 {
        font-size: 30px;
        padding: 7px 0px;
        /* margin-bottom: 0px; */
    }

    .menuvar {
        width: 55%;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .instragram_section {
        background: #f0f0f0;
        width: 100%;
        height: 48px;
        margin: 0;
        padding: 15px;
    }

}

@media (min-width: 1920px) and (max-width: 2545px){

    .event_text h3 {
        font-size: 30px;
        padding: 7px 0px;
        /* margin-bottom: 0px; */
    }

    .menuvar {
        width: 45%;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .instragram_section {
        background: #f0f0f0;
        width: 100%;
        height: 48px;
        margin: 0;
        padding: 15px;
    }

}

@media (min-width: 2545px){
    .menuvar {
        display: none;
    }



}

/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../assets/logo.png") center no-repeat #fff;
}








